{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  </header>
  <section
  class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
    <div class="min-w-0 min-h-0 max-w-prose grow">
      {{ .Content | emojify }}
    </div>
  </section>
  {{ $context := . }}
  {{ if .Data.Pages }}
    <div class="flex justify-center">
      <div class="w-full mb-3 filters-group-wrap">
        <div class="flex justify-center mb-5">
          <ul class="flex flex-wrap justify-center gap-2 filter-tags">
            <li class="capitalize group active" data-group="all"><div class="group-[.active]:bg-primary-500 rounded-sm px-4 group-[.active]:!text-neutral py-1 flex items-center">
              <a href="javascript:void(0)">All</a> 
            </div></li>
            {{ range $key, $taxonomy := .Site.Taxonomies.artTags }}
              <li data-group="{{ $key }}" class="capitalize group">
                <div class="group-[.active]:bg-primary-500 rounded-sm px-3 group-[.active]:!text-neutral py-1 flex items-center group-hover:bg-primary-400 group-hover:!text-neutral transition-colors">
                  <a href="javascript:void(0)" class="block">{{ $key }}</a> 
                  <div class="text-sm text-neutral-400 group-[.active]:text-neutral-200 ml-2 group-hover:text-neutral-100 block">{{ .Count }}</div>
                </div>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>

    <div class="relative w-full">
      <div class="absolute -translate-x-1/2 left-1/2 animate-pulse shuffle-load top-20">
        <div>Loading...</div>
      </div>

      <section id="gallery-list" class="justify-center opacity-0 md:flex">
        {{ range .Pages }}
          {{ partial "gallery-link.html" . }}
        {{ end }}
      </section>
    </div>
  {{ end }}
{{ end }}


