{{- $taxo := "artTags" }}
<div class="p-3 md:w-1/3 gallery-link" 
  data-groups="[
    {{ with .Param $taxo }}
      {{ range $index, $artTag := . }}
        {{- if gt $index 0 }}, {{ end -}}
        {{ with $.Site.GetPage (printf "/%s/%s" $taxo $artTag) -}}
          {{ "\""}}{{ $artTag }}{{ "\""}}
        {{- end -}}
      {{- end -}}
    {{ end }}
    ]">
  {{- $images := $.Resources.ByType "image" }}
  {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
  {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $thumbnail }}
  
  {{- with $feature }}
    <div class="relative block overflow-hidden transition-all duration-500 rounded group">
      <img
      alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}"
        class="transition-all duration-500 rounded group-hover:scale-105" {{ if lt .Width 660 }}
        src="{{ .RelPermalink }}"
      {{ else }}
        srcset="
        {{- (.Resize "330x").RelPermalink }} 330w,
        {{- (.Resize "660x").RelPermalink }} 2x"
      {{ end }}
    />
    <a
     class="absolute flex items-end p-3 transition-all duration-500 rounded-sm opacity-0 cursor-pointer bg-neutral dark:bg-neutral-800 inset-3 group-hover:opacity-80"
      href="{{ with $.Params.externalUrl }}
        {{ . }}
      {{ else }}
        {{ $.RelPermalink }}
      {{ end }}"
      aria-label="{{ $.Title | emojify }}"
    >
      <div>
        <h3 class="text-xl font-semibold text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">{{ $.Title | emojify }}</h6>
      </div>
    </a>
  </div>
  {{- end }}
</div>



